.idea/
.vscode/
.DS_Store
.jest-cache/
.jest-coverage/
.sb-static/
.env
.eslintcache

reports/
coverage
node_modules
stats.json
dist
output
build
bundle/
packages/**/umd
.history
storybook-static
npm-debug.log
lerna-debug.log
yarn-error.log

jsexample.js
jsexample2.js
test.js
todo.md

packages/**/lib
packages/**/.flowconfig
packages/**/LICENSE.md

/test.js
/experiment.js

cypress/videos/
cypress/screenshots/
cypress/examples
cypress/results/

tstest/

server/tusFiles/
test/react-uploady-ssr/

cypress/test-bundle

# Local Netlify folder
.netlify
.nx/
/cypress/downloads
