version: 2.1
orbs:
  node: circleci/node@1.1.6

references:
    workspace_root: &workspace_root
        /tmp/build

commands:
  setup:
    description: "Setup command to install/bootstrap/build"
    steps:
        - run: yarn install
        - run: yarn bootstrap
        - run: yarn build

jobs:
  build-and-test:
    working_directory: *workspace_root
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - attach_workspace:
                at: .
            - setup:
            - run:
                name: Test Code (lint, flow, jest)
                command: yarn test:ci
                environment:
                    JEST_JUNIT_OUTPUT_DIR: "reports/junit/js-test-results.xml"
            - store_test_results:
                path: reports/junit
            - store_artifacts:
                path: reports/junit
            - store_artifacts:
                path: .jest-coverage
            - persist_to_workspace:
                root: .
                paths:
                  - node_modules
                  - .jest-coverage
                  - packages

  coverage:
    working_directory: *workspace_root
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - attach_workspace:
                at: .
            - run:
                name: Upload Coverage
                command: yarn coverage
            - store_artifacts:
                path: .jest-coverage

  bundle:
    working_directory: *workspace_root
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - attach_workspace:
               at: .
            - run:
                name: Bundle it up
                command: yarn bundle:prod
            - store_artifacts:
                path: bundle
            - persist_to_workspace:
                root: .
                  paths:
                    - packages
                    - bundle
workflows:
    create-rpldy:
      jobs:
        - build-and-test
        - coverage:
            requires:
              - build-and-test
            filters:
              branches:
               only: master
        - bundle:
            requires:
              - build-and-test
            filters:
              branches:
                only: master

#    build-and-deploy:
#      jobs:
#        - build-and-deploy:
#          filters:
#              branches:
#                  only: master
