version: 2.1
orbs:
  node: circleci/node@1.1.6
  cypress: cypress-io/cypress@1.19.2

references:
    workspace_root: &workspace_root
        /tmp/build

commands:
  setup:
    description: "Setup command to install/bootstrap/build"
    steps:
        - run: yarn install --pure-lockfile
        - run: yarn bootstrap
        - run: yarn build
  bundle:
    description: "Create UMD bundles"
    steps:
        - run: yarn bundle:prod
jobs:
  setup:
    working_directory: *workspace_root
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          cache-version: v1
          cache-key: yarn.lock
          steps:
            - attach_workspace:
               at: .
            - setup
            - persist_to_workspace:
                root: .
                paths:
                  - node_modules
                  - packages

  build-and-test:
    working_directory: *workspace_root
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          cache-version: v1
          cache-key: yarn.lock
          steps:
            - attach_workspace:
                at: .
            - run:
                name: Test Code (lint, flow, jest, types)
                command: yarn test:ci
                environment:
                    JEST_JUNIT_OUTPUT_DIR: "reports/junit/js-test-results.xml"
            - store_test_results:
                path: reports/junit
            - store_artifacts:
                path: reports/junit
            - store_artifacts:
                path: .jest-coverage
            - persist_to_workspace:
                root: .
                paths:
                  - .jest-coverage
                  - packages

  coverage:
    working_directory: *workspace_root
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          cache-version: v1
          cache-key: yarn.lock
          steps:
            - attach_workspace:
                at: .
            - run:
                name: Upload Coverage
                command: yarn coverage
            - store_artifacts:
                path: .jest-coverage

  bundle:
    working_directory: *workspace_root
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          cache-version: v1
          cache-key: yarn.lock
          steps:
            - attach_workspace:
               at: .
            - bundle
#            - run:
#                name: Bundle it up
#                command: yarn bundle:prod
            - store_artifacts:
                path: bundle
            - persist_to_workspace:
                root: .
                paths:
                  - bundle

workflows:
    create-rpldy:
      jobs:
        - setup
        - build-and-test:
            requires:
              - setup
        - coverage:
            requires:
              - build-and-test
            filters:
              branches:
               only: master
        - bundle:
            requires:
              - setup
        - cypress/install:
            name: Prepare E2E (cypress)
            requires:
              - setup
            yarn: true
            build: "yarn sb:build"
            post-install:
            # this sucks! need to find way to use output from bundle job!!! doesnt seem possible because cypress orb hardcodes - attach_workspace: at: ~/
              - bundle
        - cypress/run:
            name: E2E (cypress)
            requires:
              - Prepare E2E (cypress)
            attach-workspace: true
            yarn: true
            start: yarn cy:deps:serve
            wait-on: "http://localhost:8001"
            record: true
            parallel: true
            parallelism: 2
            group: rpldy-ci
            store_artifacts: true
            post-steps:
              - store_test_results:
                  path: cypress/results

#requires paid plan:
#executors:
#  mac:
#    macos:
#      xcode: 10.1.0
#        - cypress/run:
#            name: Mac E2E (cypress)
#            executor: mac
#            yarn: true
#            start: yarn sb:serve
#            wait-on: "http://localhost:8001"


#    build-and-deploy:
#      jobs:
#        - build-and-deploy:
#          filters:
#              branches:
#                  only: master
