version: 2.1

references:
    docker_image: &docker_image
        - image: cypress/base:14.17.3
          environment:
              TERM: xterm

commands:
    setup:
        description: "Setup command to install/bootstrap/build"
        steps:
            - run: yarn --frozen-lockfile
            - run: yarn cache dir
            - run: yarn build

    bundle:
        description: "Create UMD bundles"
        steps:
            - run:
                name: Bundle for Production
                command: yarn bundle:prod

    sb:
       description: Build Storybook
       steps:
           - run:
                name: Build Storybook
                command: yarn sb:build:internal

    prepare-e2e:
        description: "Prepare for cypress e2e tests"
        steps:
            - run:
                  name: Install cypress
                  command: yarn cypress install
            - run:
                  name: Verify cypress
                  command: npx cypress verify

    run-e2e-http:
        description: "Run http servers for e2e tests"
        steps:
          - run:
                name: Serve built Storybook
                command: yarn sb:serve
                background: true
          - run:
                name: Serve bundled js files
                command: yarn bundle:serve
                background: true

    run-e2e:
       description: "Run cypress e2e tests"
       steps:
           - run:
                 name: Run cypress e2e
                 command: |
                    echo RUNNING SPECS = $(tr [:blank:] ',' < /tmp/specs-to-run)
                    yarn cy:run:ci --spec $(tr [:blank:] ',' < /tmp/specs-to-run)

jobs:
    setup:
        docker: *docker_image
        steps:
            - checkout
            - restore_cache:
                  keys:
                      - yarn-deps-v2-{{ checksum "yarn.lock" }}
            - setup
            - save_cache:
                  key: yarn-deps-v2-{{ checksum "yarn.lock" }}
                  paths:
                      - node_modules
                      - ~/.cache/yarn
                      - /usr/local/share/.cache/yarn/
            -   persist_to_workspace:
                    root: .
                    paths:
                        - node_modules
                        - packages

    test:
        docker: *docker_image
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run:
                  name: Test Code (lint, flow, jest, types)
                  command: yarn test:ci
                  environment:
                      JEST_JUNIT_OUTPUT_DIR: "reports/junit/js-test-results.xml"
            - store_test_results:
                  path: reports/junit
            - store_artifacts:
                  path: reports/junit
            - store_artifacts:
                  path: .jest-coverage
            - persist_to_workspace:
                  root: .
                  paths:
                      - .jest-coverage

    coverage:
        docker: *docker_image
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run:
                  name: Upload Coverage
                  command: yarn coverage
            - store_artifacts:
                  path: .jest-coverage

    bundle:
        docker: *docker_image
        steps:
            - checkout
            - attach_workspace:
                at: .
            - bundle
            - store_artifacts:
                path: bundle
            - persist_to_workspace:
                root: .
                paths:
                    - bundle

    build-sb:
        docker: *docker_image
        steps:
            - checkout
            - attach_workspace:
                at: .
            - sb
            - persist_to_workspace:
                root: .
                paths:
                   - .sb-static

    cypress-prepare:
        docker: *docker_image
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - prepare-e2e
            - save_cache:
                    key: cy-install-{{ checksum "yarn.lock" }}
                    paths:
                        - /root/.cache/Cypress

    cypress-run:
        docker: *docker_image
        parallelism: 5
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run:
                name: Split tests by timing
                command: |
                    circleci tests glob "cypress/integration/**/*-spec.js" | circleci tests split --split-by=timings > /tmp/specs-to-run
            - run-e2e-http
            - restore_cache:
                keys:
                    - cy-install-{{ checksum "yarn.lock" }}
            - run-e2e
            -  run:
                when: always
                name: Fix junit reporter XML files attributes
                command: |
                    node cypress/fix-junit-report.js
            - store_artifacts:
                  path: cypress/screenshots
            - store_artifacts:
                  path: cypress/videos
            - store_test_results:
                  path: cypress/results

workflows:
    create-rpldy:
        jobs:
            - setup
            - test:
                  requires:
                      - setup
            - coverage:
                  requires:
                      - test
                  filters:
                      branches:
                          only: master
            - bundle:
                  requires:
                      - setup
            - build-sb:
                  requires:
                      - setup
            - cypress-prepare:
                  requires:
                      - setup
            - cypress-run:
                  requires:
                      - cypress-prepare
                      - bundle
                      - build-sb

#      - cypress/install:
#          name: Prepare E2E (cypress)
#          executor: cypress-node-14
#          requires:
#            - setup
#          yarn: true
#          cache-key: v1-deps-{{ checksum "yarn.lock" }}
#          # no need to run `yarn install` again, since was done already and modules are cached
#          install-command: "pwd; yarn sb:build:prod"
#          post-install:
#            # this sucks! need to find way to use output from bundle job!!! doesnt seem possible because cypress orb hardcodes - attach_workspace: at: ~/
#            - bundle
#      - cypress/run:
#          name: E2E (cypress)
#          executor: cypress-node-14
#          requires:
#            - Prepare E2E (cypress)
#          attach-workspace: true
#          yarn: true
#          cache-key: v1-deps-{{ checksum "yarn.lock" }}
#          start: yarn deps:serve
#          wait-on: "http://localhost:8001"
#          #            record: true
#          #            parallel: true
#          #            parallelism: 2
#          #            group: rpldy-ci
#          store_artifacts: true
#          post-steps:
#            - store_test_results:
#                path: cypress/results

#requires paid plan:
#executors:
#  mac:
#    macos:
#      xcode: 10.1.0
#        - cypress/run:
#            name: Mac E2E (cypress)
#            executor: mac
#            yarn: true
#            start: yarn sb:serve
#            wait-on: "http://localhost:8001"


#    build-and-deploy:
#      jobs:
#        - build-and-deploy:
#          filters:
#              branches:
#                  only: master
